
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Quicksand:wght@300..700&display=swap');


#content {
    max-width: 1600px;
    margin: 0;
    font-family: "Quicksand", times, serif;
    font-size: 22px;
    padding: 0;
}
h2{
    margin: 0;
}
nav a {
    text-align: center;
    color: #0b1d21;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #2596be;
    color: #0b1d21;
}
body {
    background-color: #f4ecdf;
    color: #0b1d21;
}
header {
    background-color: #2596be;
    color: #0b1d21;
}
nav a:hover {
    background-color: #e3e3e3;
    color: #0b1d21;
}
.card-img {
    border: 10px;
    border-style: solid;
    border-color: #2596be;
}
.book, .join {
    background-color: #2596be;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: white;
    color: #0b1d21;
}
.msg {
    background-color: #f4ecdf;
    color: #0b1d21;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2, .home-grid h2 {
    font-family: "Londrina Solid", helvetica, sans-serif;
}
footer {
    background-color: #2596be;
    color: #0b1d21;
}
.home-title {
    color: #0b1d21;
    font-family: "Londrina Solid", helvetica, sans-serif;
    font-size: 2em;
    margin-top:10px;
}
h4 {
    color: #0b1d21;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.msg p {
    color: #0b1d21;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    margin-top: 200px;
}
footer a {
    color: #0b1d21;
    text-decoration: none;
    padding: 25px 50px;
}
footer a:hover {
    color: #0b1d21;
    background-color: #f4ecdf;
}
footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}