@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ebebf3;
    font-family: "Cormorant Garamond", Courier, Trebuchet;
    font-size: 18px;
}

h1,
h2 {
    font-family: "birthstone", Georgia, Garamond;
    font-size: 3em;
}

.button {
    background-color: #667c84;
    color: white;
    border: #eaaadd solid 3px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 5px 10px #6f7364;
}
.button:hover {
    opacity: .6;
}
main {
    margin-top: 100px;
}

/* Nav bar css */
header {
    background-color: #667c84;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    background-color: #667c84;
    display: flex;
    font-size: 2em;
    justify-content: space-around;
    width: 100%;
}

nav a,
header a {
    padding: 20px;
    text-decoration: none;
    text-decoration: none;
    text-align: center;
    align-self: center;
    color: #232331;
}

header img {
    width: 80px;
    border: solid 3px #eaaadd;
    box-shadow: 5px 5px 10px #6f7364;
    justify-self: left;
}

nav a:hover {
    background-color: #ebebf3;
}

/* Footer bar css */
footer {
    background-color: #667c84;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer div {
    padding: 10px;
}

.logo img {
    width: 80px;
    border: solid 3px #eaaadd;
    box-shadow: 5px 5px 10px #6f7364;
    justify-self: left;
}

.logo {
    padding: 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    padding: 10px;
    color: #232331;
    font-size: 1.5em;
}

.social {
    justify-self: center;
    align-self: center;
}

.social a {
    padding: 15px;
}

.x {
    width: 65px;
}

/* Home page css */
#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr .3fr;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#welcome {
    text-align: center;
    padding: 30px;
    margin: 10px auto;
    border-bottom: #eaaadd solid 5px;
    width: 90%;
}

#welcome p {
    font-size: 1.2em;
    padding: 10px;
}

#first-img {
    width: 70%;
    padding-top: 35px
}

#first-img img {
    width: 100%
}

#about-us {
    text-align: center;
    padding: 30px;
    margin: 10px auto;
    border-bottom: #eaaadd solid 5px;
    width: 90%;
}

#about-us p {
    font-size: 1.2em;
    padding: 10px;
}

#second-img {
    width: 40%;
    padding-top: 35px;
    padding-bottom: 35px;
}

#second-img img {
    width: 100%
}

#advertise {
    text-align: center;
    padding-top: 35px;
    border-top: #eaaadd solid 5px;
    width: 90%;
    justify-self: center;
    font-size: 1.2em;
}

#advertise div {
    padding: 15px;
    margin: 50px 0;
}

#view-gallery h4,
#view-orders h4 {
    padding-bottom: 30px;
}



/* Gallery Page */
#gallery-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr .1fr;
}
#intro {
    text-align: center;
    margin: 10px auto;
    width: 90%;
    box-sizing: border-box;
    border-bottom: #eaaadd solid 5px;
    padding: 40px;
    font-size: 1.2em;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 45px;

}
.gallery img {
    box-sizing: border-box;
    border: #eaaadd solid 2px;
    border-radius: 5px;
    width: 100%;
    transition: transform .5s;
}
.gallery img:hover {
    transform: scale(1.1);
    z-index: 1;
}
#advertise-orders {
    box-sizing: border-box;
    border-top: #eaaadd solid 5px;
    width: 90%;
    text-align: center;
    justify-self: center;
    padding: 30px;
}
#advertise-orders h4 {
    font-size: 1.5em;
    padding: 25px;
    margin-bottom: 10px;
}

/* Orders Page */

#orders {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.2em;
}

#info {
    margin: 10px auto;
    text-align: center;
    padding: 40px;

}
#info p {
    padding: 25px;
    margin-bottom: 15px;
}
#process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
#process-img {
    justify-self: left;
    margin: 10px;
}
#process-img img{
   border: solid #eaaadd 4px;
}
#process-text {
    align-self: center;
}
#process-text h2 {
    margin-bottom: 20px;
}
#order-section {
    justify-self: center;
    text-align: center;
    width: 90%;
    padding: 30px;
    margin-bottom: 25px;
}
#order-section p, #order-section h2 {
    margin-bottom: 20px;
}
#order-section h4 {
    margin-bottom: 30px;
}
#lower-image {
    justify-self: center;
}
#lower-image img {
    margin: 20px auto;
    border: solid #eaaadd 5px;
}